$primary-color: maroon;
$secondary-color: navy;
$third-color: #c5b358;

@mixin zero-marg-pad {
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
  width: 100%;
}

nav {
  .navbar-brand {
    @include zero-marg-pad;
    width: 200px !important;
  }
  .logo {
    width: 15%;
  }
  .nav-link {
    color: $primary-color !important;
  }
  .nav-link:hover {
    color: $third-color !important;
    transition: 0.3s;
  }
}

.btn-primary {
  opacity: 0.85;
  border-color: $primary-color !important;
  background-color: $primary-color !important;
  transition: 0.3s;
}

.btn-primary:hover {
  border-color: $third-color !important;
  background-color: $third-color !important;
}

.fab:hover {
  color: $third-color !important;
  transition: 0.3s;
}

.contact {
  color: $primary-color;
  text-decoration: none;
}

.contact:hover {
  color: $third-color;
  transition: 0.3s;
  text-decoration: none;
}
